:root{

    --clr-primary-001:hsl(0, 0%, 100%);
    --clr-primary-002:hsl(212, 45%, 89%);
    --clr-primary-003:hsl(220, 15%, 55%);
    --clr-primary-004:hsl(218, 44%, 22%);

    /* font styles */

    --font-accent:"Outfit", serif;

    /*font weights */

    --font-regular:400;
    --font-bold: 700;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  box-sizing: border-box;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


body{
    background: var(--clr-primary-002);
    display: flex;
    justify-content: center;

}

.card{
    display: grid;
    width: 290px;
    background:var(--clr-primary-001);
    margin-top: 10rem;
    padding:0.7rem;
    border-radius: 0.9rem;

}
img{
    border-radius: 0.5rem;
}

.card__description{
    font-family:var(--font-accent);
    font-weight: var(--font-bold);
    font-size: 1rem;
    padding:1rem;
    text-align: center;
}
.card__intructions{
    font-weight: var(--font-regular);
    font-size:0.9rem;
    text-align: center;
    color: var(--clr-primary-003);
    font-family: var(--font-accent);
    
}

